<h2>List of customers</h2> 
<customerform *ngIf = "addCustomerFormOpen"
(update) = "add($event)"
(closeEdit) = "addCustomerFormOpen = false"
[formType] = "'Add Customer'">        

</customerform>

<div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomerFormOpen = !addCustomerFormOpen"
  >
  Add Customer
  </button>      
  </div>
  
<mat-accordion>
<mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false"
                        *ngFor = "let customer of customers$ | async;let i = index">
                            <mat-expansion-panel-header>
        <mat-panel-title>
           name: {{customer.name}}
        </mat-panel-title>
        <mat-panel-description>
            eduction years: {{customer.years}}
        </mat-panel-description>
        <mat-panel-description>
             income: {{customer.income}}
        </mat-panel-description>

            <button mat-raised-button
            color = "warn"
            (click) = "deleteCustomer(customer.id)">
            Delete
            </button>
            <button *ngIf ="customer.pressSave==0" mat-raised-button color="primary" (click)="predict(customer)">Predict</button>
            <mat-panel-description *ngIf = "customer.prob=='YES'" class="green">
                {{customer.prob}}
            </mat-panel-description>
            <mat-panel-description *ngIf = "customer.prob=='NO'" class="red">
                {{customer.prob}}
            </mat-panel-description>
            <mat-panel-description *ngIf = "customer.prob==''">
                {{customer.prob}}
            </mat-panel-description>
            <button *ngIf ="customer.pressSave==1" mat-raised-button color="primary" (click)="save(customer)">Save</button>
            <p *ngIf ="customer.pressSave==2"> saved </p> 
    
 
  
            </mat-expansion-panel-header> 
    <button mat-raised-button
    color = "primary"
    (click) = "editstate[i] = !editstate[i]">
        Edit
  </button> 

    <customerform
        [hidden] = "!editstate[i]"        
        [name] = "customer.name"
        [years] = "customer.years"
        [income] = "customer.income"
        [id] = "customer.id"
        [formType] = "'Edit customer'"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]">
    </customerform>

   

    
</mat-expansion-panel>



</mat-accordion>

