<mat-card>
  <h1>{{formType}}</h1>
      <form #customerForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>years</mat-label>
              <input matInput 
                [(ngModel)] = "years"
                name = "years"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>income</mat-label>
              <input matInput 
                [(ngModel)] = "income"
                name = "income"
                required>
            </mat-form-field>
          </p>
        <div >
            <button mat-raised-button color="primary"
            (click)= "updateParent()">
            {{formType}}
            </button>
            <button mat-raised-button  
            (click)= "tellParentToClose()">
            Cancel
          </button>   
        </div>
      </div>
    </form>
   </mat-card>
